/.doit.db
/.peru
/build
/compile_flags.txt
/peru
/src_py/**/json_schema_repo.json
/src_py/**/sbs_repo.json
/src_py/hat/event/common/collection/_ctree.*
/src_py/hat/event/common/subscription/_csubscription.*
__pycache__
