appdirs ~=1.4.4
hat-aio ~=0.7.11
hat-doit ~=0.16.0
hat-drivers ~=0.8.14
hat-json ~=0.6.0
hat-monitor ~=0.8.17
hat-sbs ~=0.7.5
hat-util ~=0.6.17
lmdb >=1.4.1, <1.7
peru >=1.3.1
psutil >=5.9.5
sphinxcontrib-plantuml >=0.23
sphinxcontrib-programoutput >=0.17
